@charset "utf-8";

.hide{display:none;}

.has-js .label-radio{
	width:26px;height:26px;display:inline-block;cursor:pointer;position: relative;
	border-radius:20px;border: 2px solid #fff;box-sizing:border-box;margin-right:5px;
}
.has-js label.c-on{ background: url(check-on.png) no-repeat; }
/*.has-js label.r-on{background-image:url(../images/common/ico-check.png) !important;background-repeat: no-repeat !important;background-position:center center !important;}
*/
.has-js label.r-on{
	
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,.6);
	-moz-box-shadow:    0px 0px 3px 2px rgba(0,0,0,.6);
	box-shadow:         0px 0px 3px 2px rgba(0,0,0,.6);
	
}
.has-js .label-check input,.has-js .label-radio input { position: absolute; left: -9999px; }
.label-radio .sel-color-text{bottom:-20px;width:auto;position:absolute;display:inline-block;min-width:3em;text-align:center;left:-50%;right:-50%;font-size:12px;color:#666;font-weight:bold;}
.label-radio.r-on .sel-color-text{color:#000;font-weight: bold;}


.flex-sec{display:flex;flex-flow: row wrap;}

.tooltip{
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
	z-index:2;
}


.index-serviceinfo-bg{
	width: 100%;
    min-height: 200px;
    background: url(../images/tmp/index-si-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 5;
}

.si-slider{width:100%;}
.slick-slide {
    margin: 0 15px;
	overflow:hidden;
	position:relative;
	transition:0.15s;
	opacity:.7;
  }
.scale12{
	transform: scale(1.05);
	opacity:1;
}
.slick-slide>div{height:100%;}

.slick-slide .si-item{display:block;height:100%;transition:0.22s;}
.slick-slide .si-item .imgadj{
	width:100%;
	height:100%;
	position:relative;
	padding-bottom:218.18%;
	border-radius:6px;
	overflow:hidden;
}
.slick-slide:nth-of-type(even) .si-item .imgadj{
	transform: scale(0.94);
	transform-origin:center;
}
.slick-slide:nth-of-type(odd) .si-item .imgadj{
	transform: scale(0.88);
	transform-origin: center;
}
.slick-slide:nth-of-type(4) .si-item .imgadj{
	transform: scale(0.92);
	transform-origin: center;
}
.slick-slide:nth-of-type(5) .si-item .imgadj{
	transform: scale(0.84);
	transform-origin: center;
}
.slick-slide .si-item .imgadj img{
	width:100%;
	height:100%;
	object-fit:cover;
	position:absolute;
	display: block;
}
.slick-slide .si-item .con{position:relative;z-index:3;text-align:center;height:100%;padding-bottom:20px;}
.slick-slide .si-item .con .ico img{display:inline-block;}
.slick-slide .si-item .con .title{font-size:22px;font-weight: bold;color:#333;margin:10px 0;line-height:22px;}

.index-si-search{display:inline-block;position:relative;}
.index-si-search .input-text{width:300px;padding-right:50px;}
.menu-search{display:inline-block;position:relative;height:46px;min-width:46px;}
.page-search{display:inline-block;position:relative;height:46px;min-width:46px;}
.menu-search .wrap{display:inline-block;vertical-align: middle;min-width:1px;height:46px;}
.page-search .search-mag,.rwd-menu-search .search-mag,.menu-search .search-mag,.index-si-search .search-mag{background:none;border:none;outline:none;position:absolute;right:0px;top:0;padding:0;cursor:pointer;}
.page-search .search-mag .fas,.rwd-menu-search .search-mag .fas,.menu-search .search-mag .fas,.index-si-search .search-mag .fas{font-size:14px;color:#333;padding:16px;transition:0.22s;display:inline-block;line-height:14px;}
.page-search .search-mag:hover .fas,.rwd-menu-search .search-mag:hover .fas,.menu-search .search-mag:hover .fas,.index-si-search .search-mag:hover .fas{color:#186fc7}
.rwd-menu-search{text-align:center;padding:10px 0;margin-top:20px;}
.rwd-menu-search .menu-search-form{display:inline-block;position:relative;}
.menu-search .menu-search-form{transition:0.22s;display:none;position:relative;}
.menu-search .menu-search-form.show{display:block;}
.menu-search .menu-search-btn{position:absolute;right:0;width:46px;height:46px;text-align:center;transition:0.22s;}
.menu-search .menu-search-btn::after{
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	content:"\f002";
	font-size:14px;
	line-height:14px;
	color:#333;
	transition:0.22s;
	display:inline-block;
	position:absolute;
	left:0;right:0;margin:0 auto;
	top:calc(50% - 7px);
}
.menu-search .menu-search-btn:hover::after{color:#999;}
.menu-search .menu-search-btn.close{right:-40px;}
.menu-search .menu-search-btn.close::after{
	content:"\f00d";
}

.index-designer-top-l{width:calc(100% - 215px);vertical-align:top;}
.index-designer-top-r{width:210px;vertical-align:top;text-align:right;}
.one-designer{
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
}
.one-designer.flex-3{
    display: block;
    margin: 0 10px 30px 10px;
    flex: 0 1 calc(33.333% - 20px);
    width: calc(33.333% - 20px);
}
.one-designer .pic{width:100%;height:calc(((1160px / 3) - 40px) * 2 / 3);overflow:hidden;}
.one-designer .info{height:60px;width:100%;background:#fff;position:relative;}
.one-designer .info .avatar{position:absolute;width:70px;height:70px;overflow:hidden;border-radius: 70px;bottom:20px;left:20px;background:#fff;}
.one-designer .info .title{width:calc(100% - 120px);height:100%;right:0;position:absolute;text-align:right;margin-right:20px;display:table;}
.one-designer .info .title h3{font-size:16px;color:#333333;line-height:24px;display:table-cell;vertical-align:middle;font-weight:bold;}

.index-banner{height:500px;width:100%;position:relative;}
.index-banner a{height:100%;}
.index-banner .index-banner-pic{height:100%;width:100%;position:absolute;}
.index-banner .index-banner-inner{position:relative;z-index:2;height:100%;}
.index-banner .index-banner-inner .innerimg{display:inline-block;vertical-align: middle;}
.index-banner .index-banner-inner .innertext{display:inline-block;vertical-align: middle;color:#333;line-height:30px;font-size:15px;}

.one-portfolio{
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	height:100%;
}
.one-portfolio.flex-3 {
    display: block;
    margin: 0 10px 30px 10px;
    flex: 0 1 calc(33.333% - 20px);
    width: calc(33.333% - 20px);
}

.one-portfolio.one-portfolio-full{
    display: block;
    margin: 0 10px 30px 10px;
    flex: 0 1 calc(100% - 20px);
    width: calc(100% - 20px);
}

.one-portfolio.one-portfolio-full .pic{width:100%;height:calc((580px - 30px) * 2 / 5);overflow:hidden;}

.one-portfolio .one-portfolio-top{display:block;}
.one-portfolio .pic{width:100%;height:calc(((1160px / 3) - 40px) *2 / 3);overflow:hidden;}
.portfolio-page .one-portfolio .pic{height:calc(((910px / 3) - 40px) *2 / 3);}
.one-portfolio .info{min-height:20px;width:100%;background:#fff;position:relative;padding:12px 0;}
.one-portfolio .info .line{width:calc(100% - 24px);background:#e8e8e8;height:1px;display:block;bottom:0;position:absolute;left:12px;}

/*.one-portfolio .title{width:calc(50% - 17px);height:100%;left:0;position:absolute;text-align:left;margin-right:5px;display:table;margin-left:12px;}*/
.one-portfolio .title{height:100%;text-align:left;display:table;margin-left:12px;margin-bottom:7px;margin-top:7px;}

.one-portfolio .title h3{font-size:16px;color:#333333;line-height:24px;display:table-cell;vertical-align:middle;font-weight:bold;}

/*.one-portfolio .sub-info{width:calc(50% - 17px);height:100%;right:0;position:absolute;text-align:right;margin-left:5px;display:table;margin-right:12px;}*/
.one-portfolio .sub-info{height:100%;text-align:left;display:table;margin-left:12px;}

.one-portfolio .sub-info .sub-title-wrap{display:table-cell;vertical-align:middle;}
.one-portfolio .sub-info .sub-title{font-size:12px;line-height:15px;color:#888;font-weight: bold;margin:5px 0;}
.one-portfolio .sub-info .sub-title span{font-size:12px;font-weight: normal;margin-right:6px;color:#999}
.tag-wrap{background:#fff;width:calc(100% - 24px);padding:10px 12px;}
.tag-wrap .one-tag{font-size:13px;padding:4px 5px;line-height:16px;border:1px solid #186fc7;color:#186fc7;display:inline-block;margin-right:5px;font-weight:bold;text-align:center;transition:0.2s;margin-top:5px;margin-bottom:5px;}
.tag-wrap .one-tag:hover{background:#186fc7;color:#fff;}

.page-visual{width:100%;height:320px;position:relative;}
.page-visual .pic{width:100%;height:100%;position:absolute;}
.page-visual .pic .cover{position:absolute;z-index:1;background:rgba(3,3,3,.6);width:100%;height:100%;}
.page-visual .title{position:relative;z-index:3;text-align:center;height:100%;width:calc(100% - 40px);margin:0 auto;}
.page-visual .title h2{font-weight:bold;font-size:54px;color:#ffcc00;display: inline-block;letter-spacing: 2px;line-height:68px;vertical-align: middle;}

.portfolio-grid-4-1{float:left;width:220px;margin-right:15px;}
.portfolio-grid-4-3{float:left;width:calc(100% - 250px);margin-left:15px;}

.portfolio-grid-2-l{float:left;width:calc(50% - 15px);margin-right:15px;position:relative;}
.portfolio-grid-2-r{float:left;width:calc(50% - 15px);margin-left:15px;}
.portfolio-grid-2-l.other{width:100%;margin:0 auto;float:none;}

.sidebar{
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
}
.sidebar ul.inner{display: none;}
.sidebar li a{display:block;line-height:20px;padding:12px 10px 12px 25px;position:relative;display:block;color:#3562be;background:#fff;border-bottom: 1px solid #d9d9d9;position:relative;font-weight:bold;font-size:13px;}
.sidebar li a.link:hover,.sidebar li a.link.active{background:#3262be;color:#fff;transition:0.22s;}
.sidebar li a.link:hover::after,.sidebar li a.link.active::after{color:#fff;}
.sidebar li a h3{width:calc(100% - 12px);}
.sidebar li a::after{font-family:"Font Awesome 5 Free";font-weight: 900;content:"\f105";position:absolute;right:10px;color:#3562be;top:calc(50% - 10px);}
.sidebar li a.toggle{color:#333;position:relative;transition:0.22s;}
.sidebar li a.toggle:hover{opacity:0.8;}
.sidebar li a.toggle::before{font-family:"Font Awesome 5 Free";font-weight: 900;content:"\f105";position:absolute;position:absolute;left:10px;color:#BBBBBB;}
.sidebar li a.toggle.expanded::before{content:"\f107";}
.sidebar li a.toggle::after{content:"";}
.sidebar>li>ul>li>a{background:#f4f3ed;padding-left:3em;}
.sidebar>li>ul>li>a.toggle::before{left:25px;}
.sidebar>li>ul>li>ul>li>a{background:#edebe1;padding-left:4em;}

.portfolio-avatar{display:block;}
.portfolio-avatar:last-child{margin-bottom:30px !important;}
.portfolio-avatar .name{font-size:12px;color:#888;display:inline-block;color:#888;font-weight:bold;margin-right:8px;}
.portfolio-avatar .pic{
	width:40px;height:40px;border-radius:30px;overflow:hidden;display:inline-block;vertical-align: middle;margin-right:6px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
}
.portfolio-avatar .title{display:inline-block;font-size:15px;font-weight:bold;vertical-align: middle;color:#333;}
.page-inner-text p,.page-inner-text{font-size:15px;line-height:30px;color:#555;}
.page-inner-text .title{font-size:16px;color:#333;font-weight:bold;position:relative;vertical-align: middle;margin-bottom:15px;display:inline-block;}
.page-inner-text .title:before{content:"/";vertical-align: middle;font-size:22px;color:#999;font-weight:normal;margin-right:12px;display:inline-block;}
.page-inner-text .tag-wrap{background:none;padding-left:0;}

.portfolio-pic{width:100%;display:block;margin-bottom:20px;outline: none;position:relative;}
.portfolio-pic .cover{background:rgba(53,98,190,.9);opacity:0;transition:0.22s;width:100%;height:100%;position:absolute;top:0;text-align:center;}
.portfolio-pic:hover .cover{opacity:1;}
.portfolio-pic:hover .cover i{font-size:22px;color:#fff;display:inline-block;vertical-align: middle;}
.portfolio-pic img{max-width:100%;}

.one-client.flex-4{
    display: block;
    margin: 0 10px 30px 10px;
    flex: 0 1 calc(25% - 20px);
    width: calc(25% - 20px);
}
.one-client .pic{width:calc(100% - 20px);height: calc((910px / 4) - 40px);border-radius: 50%;overflow:hidden;position:relative;margin:0 auto;}
.one-client .pic .cover{background:rgba(53,98,190,.9);opacity:0;transition:0.22s;width:100%;height:100%;position:absolute;top:0;text-align:center;z-index:1;}
.one-client:hover .pic .cover{opacity:1;}
.one-client .pic .cover i{font-size:22px;color:#fff;display:inline-block;vertical-align: middle;}
.one-client .title{text-align:center;margin-top:20px;}
.one-client .title h3{font-size:15px;font-weight: bold;line-height:26px;color:#333;transition:0.22s;}
.one-client:hover .title h3{color:#3562be}

.designer-social{}
.designer-social a{width:42px;height:42px;border-radius:6px;background:#edebe1;display:inline-block;margin-right:15px;text-align:center;transition:0.22s;margin-bottom:10px;}
.designer-social a i{font-size:20px;line-height:20px;display:inline-block;vertical-align: middle;}
.designer-social a .fa-globe{color:#666;}
.designer-social a .fa-facebook-f{color:#4c76be;}
.designer-social a .fa-instagram{font-size:24px;color:#ea3c59;}
.designer-social a .fa-behance{color:#2a5afc;}
.designer-social a .fa-line{font-size:24px;color:#3ace01;}
.designer-social a:hover{background:#dfded6;}

.designer-top-l{width:calc(100% - 130px);margin-right:10px;display:block;vertical-align: top;float:left;}
.designer-top-r{width:120px;display:block;vertical-align:top;float:right;}

.designer-avatar{
	width:120px;height:120px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
	position:relative;
	display:inline-block;
	border-radius: 50%;
	text-align:right;
}

.contact-tab{margin-bottom: 40px;}
.contact-tab .one-tab{color:#333;background:#fff;padding:0 15px;margin-right:3px;display:inline-block;height:46px;line-height:46px;margin-bottom:10px;font-size:14px;font-weight:bold;transition:0.22s;}
.contact-tab .one-tab:hover,.contact-tab .one-tab.active{background:#3562be;color:#fff;}

.contact-title{font-size:16px;color:#333;font-weight:bold;position:relative;vertical-align: middle;margin-bottom:15px;display:inline-block;}
.contact-title:before{content:"/";vertical-align: middle;font-size:22px;color:#999;font-weight:normal;margin-right:12px;display:inline-block;}

.contact-wrap .input-text{min-width:240px;}

.sel-others-input .input-radcheck{display:none;width:200px;}
.input-radcheck{vertical-align:middle;width:150px;min-width:30px !important;}
.input-radcheck:disabled{border: 1px solid #d6d6d6;background:#dad9d6;}

.contact-wrap .input-textarea{max-width:100%;width:500px;height:192px;}

.tab-con{display: none;}
#tab-1{display:block;}

.sticky.unfixed{top:-200px;transition:0.4s;}
.sticky.unfixed.fixed{position:fixed;top:120px;width:calc((1160px * 0.5) - 15px);}

.jc-bs3-container{width:360px;margin:0 auto;}

.contact-designer{position:fixed;right:0;width:36px;top:40%;z-index: 99;text-align:center;right:-10px;transition:0.22s;padding-right:3px;background:rgba(53,98,190,0.4);}
.contact-designer button{
	background:rgba(53,98,190,0.4);
	color:#fff;
	width:100%;
	font-size:14px;
	font-weight:bold;
	padding:14px 0;
	display:inline-block;
	min-height:120px;
	text-align:center;
	border:0;
	line-height:16px;
	outline:none;
	transition:0.22s;
}
.contact-designer button i{margin-bottom:5px;}
.contact-designer:hover{right:0;background:rgba(53,98,190,1);}
.contact-designer:hover button{background:rgba(53,98,190,1);}

.cd-textarea,.cd-input-text{width:100%;}

.verticals{
	overflow:hidden;
	position:relative;
}

.regular{
	margin-bottom:3px;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.regular-nm .si-item{
	width:20%;
}
.regular-nm .si-item .imgadj img{
	width:100%;
	height:100%;
	object-fit: contain;
}

@media screen and (min-width: 1200px){
	.one-portfolio.flex-3:nth-child(2),.one-portfolio.flex-3:nth-child(3){flex:0 1 calc(66.666% - 20px);width:calc(66.666% - 20px);}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	
	.si-slider{width:100%;padding:0;margin:0 auto;}
	
	.slick-slide {
		margin: 0 15px;
		overflow:hidden;
	  }
	
	.one-designer.flex-3{
		margin: 0 10px 30px 10px;
		flex: 0 1 calc(50% - 20px);
		width: calc(50% - 20px);
	}
	
	.one-designer .pic{height: calc((((100vw - 40px) / 2 ) - 20px) * 2 / 3);}
	
	.one-portfolio.flex-3{
		display: block;
		margin: 0 10px 30px 10px;
		flex: 0 1 calc(50% - 20px);
		width: calc(50% - 20px);
	}
	
	.one-portfolio .pic{height: calc((((100vw - 40px) / 2 ) - 20px) * 2 / 3);}
	.portfolio-page .one-portfolio .pic{height: calc((((100vw - 290px) / 2 ) - 20px) * 2 / 3);}
	
	.one-portfolio.one-portfolio-full{
		display: block;
		margin: 0 10px 30px 10px;
		flex: 0 1 calc(100% - 20px);
		width: calc(100% - 20px);
	}

	.one-portfolio.one-portfolio-full .pic{width:100%;height:calc((((100vw - 40px) * 0.4 ) - 35px ) * 2 / 3);overflow:hidden;}
	
	.portfolio-grid-2-l{float:left;width:calc(60% - 15px);margin-right:15px;}
	.portfolio-grid-2-r{float:left;width:calc(40% - 15px);margin-left:15px;}
	
	.portfolio-grid-2-l.other{width:100%;margin:0 auto;float:none;}
	
	.one-client.flex-4{
		display: block;
		margin: 0 10px 30px 10px;
		flex: 0 1 calc(33.333% - 20px);
		width: calc(33.333% - 20px);
	}
	
	.one-client .pic{width:calc(100% - 20px);height: calc(((100vw - 290px) / 3) - 40px );border-radius: 50%;overflow:hidden;position:relative;margin:0 auto;}
	
	.sticky.unfixed.fixed{width:calc(((100vw - 40px) * 0.6) - 15px);}
	
}

@media screen and (max-width: 767px) {
	
	.index-recommend-item.flex-4{flex:0 1 calc(50% - 16px);width:calc(50% - 16px);    margin: 0 8px 30px 8px;}
	
	.si-slider{width:100%;margin:0 auto;}
	
	.slick-slide {
		margin: 0 10px;
		overflow:hidden;
	  }
	.slick-slide .si-item .con .title{
		font-size:18px;
		line-height:1.35em;
	}	  
	
	.slick-prev, .slick-next{display:none !important;}
	
	.one-designer.flex-3{
		margin: 0 10px 30px 10px;
		flex: 0 1 calc(100% - 20px);
		width: calc(100% - 20px);
	}
	
	.one-designer .pic{height: calc(((100vw - 20px) - 20px) * 2 / 3);}
	
	.one-portfolio.flex-3{
		display: block;
		margin: 0 10px 30px 10px;
		flex: 0 1 calc(100% - 20px);
		width: calc(100% - 20px);
	}
	
	.one-portfolio .pic{height: calc(((100vw - 20px) - 20px) * 2 / 3);}
	.portfolio-page .one-portfolio .pic{height: calc(((100vw - 20px) - 20px) * 2 / 3);}
	
	.one-portfolio.one-portfolio-full{
		display: block;
		margin: 0 10px 30px 10px;
		flex: 0 1 calc(100% - 20px);
		width: calc(100% - 20px);
	}

	.one-portfolio.one-portfolio-full .pic{width:100%;height:calc((100vw - 40px) * 2 / 3);overflow:hidden;}
	
	.index-designer-top-l{width:100%;margin-bottom:20px;}
	.index-designer-top-r{width:100%;text-align:left;}
	
	.index-banner .index-banner-inner{text-align:center;}
	.index-banner .index-banner-inner .innerimg{margin:0 auto;}
	.index-banner .index-banner-inner .innerimg img{max-width:100%;}
	
	.page-visual .title h2{font-size:36px;line-height:48px;}
	
	.portfolio-grid-4-1{float:none;margin-right:0;width:100%;margin-bottom:30px;}
	.portfolio-grid-4-3{float:none;margin-left:0;width:100%;}
	
	.portfolio-grid-2-l{float:none;width:100%;margin-right:0;margin-bottom:40px;}
	.portfolio-grid-2-r{float:none;width:100%;margin-left:0;}
	
	.portfolio-grid-2-l.other{width:100%;margin:0 auto;float:none;}
	
	.one-client.flex-4{
		display: block;
		margin: 0 10px 30px 10px;
		flex: 0 1 calc(50% - 20px);
		width: calc(50% - 20px);
	}
	.one-client .pic{width:calc(100% - 20px);height: calc(((100vw - 20px) / 2) - 40px );border-radius: 50%;overflow:hidden;position:relative;margin:0 auto;}
	
	.designer-top-l{width:100%;margin-right:0;margin-left:0;display:block;vertical-align: top;float:none;margin-top:55px;}
	.designer-top-r{width:100%;display:block;vertical-align: top;float:none;position:absolute;top:-145px;z-index:10;}
	
	.jc-bs3-container.container{width:calc(100% - 30px);}
	
}

@media screen and (max-width: 359px) {
}

@media screen and (max-width: 480px) {
}
